body {
  color: silver;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #D3CDD6;
}

ol {
  background: black;
  padding: 20px;
  font-size: 20px;
  text-shadow: 1px 1px white;
}

ul {
  background: black;
  padding: 10px;
}

ol li {
  background: black;
  padding: 25px;
  margin-left: 20px;
  text-shadow: 1px 1px white;
  justify-content: center;
  text-align: center;
}

ul li {
  margin: 5px;
}

h1 {
  color: silver;
  font-family:verdana;
  text-shadow: 2px 2px black;
  font-size: 40px;
  padding-left: 30px;
  text-align: center;
}

p {
  color: silver;
  font-family:verdana;
}

img.expand {
  width: 8em;
}
